{% extends 'base.html' %}

{% block main_content %}
    <div class="edit-delete">
        <h2>Edit Profile</h2>
        <!-- Start Edit Profile From -->
        <form action="{% url 'account_edit' pk=request.user.pk %}" method="post">
            {{ form.as_p }}

            <!-- Edit Profile Button -->
            <button class="edit-btn" type="submit">Edit</button>
            {% csrf_token %}
        </form>
        <!-- End Edit Profile Form -->

    </div>
    <!-- End Edit Profile Section -->
{% endblock %}
