{% extends 'base.html' %}

{% block main_content %}

    <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
    </div>

    {% for song in songs %}

     <div class="music-card">
          <div class="image-wrap">
            <img
                    src='{{ song.cover_image }}'
                    alt="testbatio"
            />
          </div>


        <div class="card-h1">
          <h1>{{ song.title }}</h1>
        </div>
          <h3>
        {% for artist in song.artists.all %}
            {{ artist.user.username }}{% if not forloop.last %} & {% endif %}

        {% endfor %}
        </h3>
          <div class="details-buttons">
            <a href="{% url 'song_details' pk=song.pk %}" class="details-btn">Details</a>
          </div>
        </div>

    {% endfor %}

{% endblock %}