{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Lyrics Website</title>
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Charts</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="{% url 'song_add' %}">Add Song</a></li>
            </ul>
        </nav>
    </header>
    <main>

        {% block main_content %}


        {% endblock %}

    </main>
    <footer>
        <p>&copy; 2024 Music Lyrics Website. All rights reserved.</p>
    </footer>
</body>
</html>